body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  width: 6%;
  border-width: 6px;
  border-color: lightgrey;
  border-style: dotted none none;
  margin-top: 5em;
  margin-bottom: 5em;
}

h1 {
  margin: 30px auto 0 auto;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 4.6rem;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #dbdffd;
  position: relative;
  padding-top: 130px;
  margin-bottom: 2em;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 310px;
}

.profile img {
  width: 25%;
  border-radius: 50%;
}

.profile-description {
  width: 50%;
  line-height: 2;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill1 {
  width: 39%;
  float: left;
  border-radius: 50%;
  margin-right: 30px;
}

.skill2 {
  width: 46%;
  float: right;
  border-radius: 50%;
  margin-left: 30px;
}

.contact-me {
  margin: auto;
  width: 50%;
  margin-bottom: 4em;
}

.contact-me-description {
  line-height: 1.6;
  margin-bottom: 3em;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  color: #ffffff;
  padding: 0.3em 0.9em;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.bottom-container {
  background-color: #66bfbf;
  padding: 2em;
}

.footer-link {
  display: inline-block;
  margin-bottom: 1em;
}

.name {
  margin-bottom: 0;
  color: #eaf6f6;
  font-size: 0.8rem;
}

.bottom-container a {
  text-decoration: none;
  color: #11999e;
}
